{% extends 'base.html.twig' %}

{% block title %}Hello BienController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            {% for festival in festivals | slice(-3) %}
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">{{ festival.nom }} <i class="fa-solid fa-house"></i></h5>
                                    <h6 class="card-subtitle mb-3 text-muted">{{ festival.date | date("m/d/Y") }}</h6>
                                    <p class="card-text">
                                        {% for a in festival.artiste %}
                                            {{ a.nom }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                    <a class="card-text" href="{{ path('app_home_voir_departement', {'region' : festival.departement.region}) }}">{{ festival.departement.nom }}</a>
                                    <a class="btn btn-primary" type="button" href="{{ path('app_home_voir_festival', {'id' : festival.id}) }}">Voir festival</a>
                                </div>
                            </div>
                            {% if festival.affiche %}
                                <div class="col-md-6">

                                        <img src="{{ festival.affiche }}" class="card-img" alt="Affiche">

                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
